@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter";
@import "@fontsource/fragment-mono";

:root {
  --background: #1a1c16;
  --foreground: #f3fae9;

  --card: #21231e;
  --card-foreground: #f3fae9;

  --popover: #21231e;
  --popover-foreground: #f3fae9;

  --primary: #74b218;
  --primary-foreground: #434a38;

  --secondary: #21231e;
  --secondary-foreground: #abb2a1;

  --muted: #1d1e1b;
  --muted-foreground: #434a38;

  --accent: #393b35;
  --accent-foreground: #f3fae9;

  --destructive: #ff0000;
  --destructive-foreground: #f3fae9;

  --border: #434a38;
  --border-secondary: #252821;
  --input: #434a38;
  --ring: #48c0f8;

  --radius: 0.625rem;

  /* colors */
  --color-blue-primary: #48c0f8;
  --color-blue-secondary: #0b6583;
  --color-orange-primary: #d38633;
  --color-orange-secondary: #7a4a1d;
  --color-green-primary: #74b218;
  --color-green-secondary: #434a38;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  /* .transform-style-3d {
    transform-style: preserve-3d;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .backface-hidden {
    backface-visibility: hidden;
  } */
  /* 
  .rotate-y-180 {
    transform: rotateX(180deg);
  } */
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
